@{
    ViewData["Title"] = "Alfie Siddons | Contact Me";
}
<head>
    <meta name="description" content="Contact Alfie Siddons" />
</head>
<div class="text-center">
    <h1>Contact Me</h1>
    <br />
    <div class="panel">
        <h3>My Details</h3>
        <table class="my-contacts">
            <thead>
                <tr>
                    <th>Platform</th>
                    <th>Contact Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="@Url.Content("~/images/email.png")"></td>
                    <td><a href="mailto:alfiesiddons@gmail.com">alfiesiddons@gmail.com</a></td>
                </tr>
                <tr>
                    <td><img src="@Url.Content("~/images/github.png")"></td>
                    <td><a href="https://github.com/alfiesiddo">alfiesiddo</a></td>
                </tr>
                <tr>
                    <td><img src="@Url.Content("~/images/linkedin.png")"></td>
                    <td><a href="https://www.linkedin.com/in/alfie-siddons-7006462a0/">Alfie Siddons</a></td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>
