@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Alfie Siddons' Portfolio</h1>
    <br />
    <div class="row justify-content-center">
        <div class="col-6">
            
            <img src="@Url.Content("~/imageOfMe.jpg")" alt="Photo of Alfie Siddons" class="img-fluid rounded shadow" style="max-width: 60%;">
        </div>
        <div class="text-start col-6">
            <p>
                Hi, I'm Alfie. I'm a Computer Science student that has recently graduated from Manchester Metropolitan University with a 1st class bachelor's with honors. I develop various types of software but have an especially keen eye for full-stack web development, where I always develop fast and accessible websites. My go-to languages are C#, Java, C++, and Python.
            </p>
            <p>Vist the <a asp-area="" asp-controller="Home" asp-action="Projects">Projects</a> page to see what I've been up to over the last few years.</p>
        </div>
    </div>
</div>
