@{
    ViewData["Title"] = "Alfie Siddons | Developer Portfolio";
}
<head>
    <meta name="description" content="Portfolio website for Alfie Siddons"/>
</head>
<div class="text-center">

    <h1>Alfie Siddons</h1>
    <br />
    <div class="panel">
        <h2>Hi I'm Alfie, an aspiring software engineer</h2>
        <br />
        <div class="row justify-content-center align-items-start">
            <div class="col-6">

                <img src="@Url.Content("~/images/imageOfMe.jpg")" alt="Photo of Alfie Siddons" class="img-fluid rounded profile-image">
            </div>
            <div class="text-start col-6">
                <p class="IndexText">
                    I’m a recent Computer Science graduate from Manchester Metropolitan University with a First-Class Bachelor’s degree. I primarily have experience in developing mobile and web applications, but I also have knowledge in other areas such as machine learning, computer architecture, database development/management, and programming in RISC-V assembly.
                </p>
                <p class="IndexText">
                    My go-to programming languages are C#, C++, Java, and Python. I’ve developed several interesting projects using these languages in the past and plan to continue doing so. Software development is something I enjoy both professionally and in my spare time.
                </p>
                <p class="IndexText">Vist the <a asp-area="" asp-controller="Home" asp-action="Projects">Projects</a> page to see what I've been up to over the last few years.</p>
            </div>
        </div>
        <div class="panel">
            <h3>Technologies I'm Familiar With </h3>
            <ul class="tech-list">
                <li>CSS</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>SQL Databases</li>
                <li>MySQL </li>
                <li>SQL Server</li>
                <li>Azure Data Studio</li>
                <li>MySQL Workbench</li>
                <li>Java</li>
                <li>Android Studio</li>
                <li>Visual Studio</li>
                <li>Python</li>
                <li>Classifier Models</li>
                <li>C++</li>
                <li>C#</li>
                <li>Razor</li>
                <li>ASP.NET</li>
                <li>.NET MAUI</li>
                <li>Firebase FCM</li>
                <li>Microsoft Azure</li>
                <li>RISC-V Assembly</li>
                <li>Logisim Evolution</li>
                <li>SQL Lite</li>
                <li>XAML</li>
                <li>XML</li>
            </ul>
        </div>
    </div>
    
</div>
