@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Alfie Siddons</h1>
    <br />
    <div class="panel">
        <h2>Hi I'm Alfie, an aspiring software engineer</h2>
        <br />
        <div class="row justify-content-center align-items-start">
            <div class="col-6">

                <img src="@Url.Content("~/images/imageOfMe.jpg")" alt="Photo of Alfie Siddons" class="img-fluid rounded profile-image">
            </div>
            <div class="text-start col-6">
                <p class="IndexText">
                    I’m a computer science student that has recently graduated from the Manchester Metropolitan University with a 1st class bachelor’s with honours. I’m mainly experienced in developing mobile and web applications but also have experience with other areas like machine learning, computer architecture, database development/management and programming in RISC-V assembly.
                </p>
                <p class="IndexText">
                    My go-top languages are C#, C++, Java and Python, I’ve made some interesting projects with these languages in my past and plan on continuing in doing so. Software development is something I enjoy both in and outside of work.
                </p>
                <p class="IndexText">Vist the <a asp-area="" asp-controller="Home" asp-action="Projects">Projects</a> page to see what I've been up to over the last few years.</p>
            </div>
        </div>
        <div class="panel">
            <h3>Technologies I'm Familiar With </h3>
            <ul class="tech-list">
                <li>CSS</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>SQL Databases</li>
                <li>MySQL </li>
                <li>SQL Server</li>
                <li>Java</li>
                <li>Python</li>
                <li>Classifier Models</li>
                <li>C++</li>
                <li>C#</li>
                <li>Razor</li>
                <li>ASP.NET</li>
                <li>.NET MAUI</li>
                <li>Microsoft Azure</li>
                <li>RISC-V Assembly</li>
                <li>Logisim Evolution</li>
            </ul>
        </div>
    </div>
    
</div>
