html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



.profile-image {
    align-self: center;
    max-height: 500px;
}


.projectText {
    font-size: 18px;
}

.IndexText {
    font-size: 18px;
}

.same-height-img {
    align-self: center;
    min-height: 70%;
    height: 100%;
    width: fit-content;
    object-fit: contain;
}

.same-height-img-containter {
    padding-bottom: 2%;
    max-height: 100%;
}

.panel {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 24px;
    max-width: 100%;
    margin: 1% auto;
}

.cvbutton {
    padding: 6px 16px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: transparent;
    color: black !important;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

    .cvbutton:hover {
        background-color: black;
        color: white !important;
        text-decoration: none;
    }

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0;
    justify-content: center;
    margin: 0;
    list-style: none;
    font-family: "Arial", sans-serif;
    font-size: 0.85rem;
}

    .tech-list li {
        background: rgba(0,0,0,0.03);
        padding: 0.2em 0.6em;
        border-radius: 2em;
        transition: background 0.2s ease;
    }

        .tech-list li:hover {
            background: rgba(0,0,0,0.08);
        }


@media (max-width: 767.98px) {

    .cvbutton {
        border: none;
        padding: 0;
        background: none;
        color: inherit;
    }

        .cvbutton:hover {
            background-color: white;
            color: black !important;
            text-decoration: none;
        }

    .profile-image {
        max-height: 400px;
    }

    .same-height-img {
        min-height: 80%;
    }

    .IndexText {
        font-size: 10px;
    }

    .projectText {
        font-size: 10px;
    }

    .tech-list {
        gap: 0.3em;
        font-size: 0.75rem;
    }

        .tech-list li {
            padding: 0.15em 0.4em;
 
        }
}




body {
  margin-bottom: 60px;
}